<!DOCTYPE html>
<html lang="en">
<head>
   <title>Episode Details</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link rel="stylesheet" href="css/personal.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<script>
    
   function update_fact(f_id, e_id, data)
   {
      document.location = '/update_fact?f_id=' + f_id + "&e_id=" + e_id + "&data=" + data;
   }

   function delete_fact(f_id, e_id)
   {
      document.location = '/delete_fact?f_id=' + f_id + "&e_id=" + e_id;
   }

   function setPage()
   {
      var e_id = "<%= e_id %>";
      var e_summ = "<%= e_summ %>"; 
      var e_num = "<%= e_num %>";
      var e_name = "<%= e_name %>";
      var data = "<%= data %>";
      var f_data = "<%= f_data %>";
      var f_id = "<%= f_id %>";

      var text = "";

      var name = e_num + ". " + e_name;
      document.getElementById("name").innerHTML = name;
      document.getElementById("details").innerHTML = e_summ;

      if(data == "true")
      {
         var split_id = f_id.split(',');
         var split_data = f_data.split(',');

         for(var i = 0; i < split_id.length; i++)
         {
            text += "<input type='button' onclick='update_fact(" + split_id[i] + ", " + e_id + ", \"" + split_data[i] + "\")' value='Update Fact'> <br>";
            text += "<input type='button' onclick='delete_fact(" + split_id[i] + ", " + e_id + ")' value='Delete Fact'> <br>";
            text += split_data[i] + "<br><hr><br>";
         }

         document.getElementById("facts").innerHTML = text;    
      }
      else
      {
         document.getElementById("facts").innerHTML = "Cannot find fun facts for this episode.";     
      }
   }

   function back()
   {
      document.location = '/';
   }

</script>

<body>

   <ul>
      <li><a onclick="back()">Back</a></li>
   </ul>


   <div id="episode details" class="center">
      <br><br>
      <h3 id="name" name="name"></h3>
      <br><hr><br>
      <p>Summary:</p>
      <div id="details" name="details" class = "inner-left left">
      </div>  

      <hr>

      <p>Fun Facts: </p>
      <div id="facts" name="facts" class = "inner-left left">
      </div> 
   </div>
   <hr>
   <script> setPage(); </script>
</body>
</html>